body {
    background-image: url("http://sf.co.ua/16/11/wallpaper-53b1.jpg");
    background-color: silver;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.card {
    height: 400px;
    width: 200px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.aboutText {
    color: black;
    font-size: 36px;
    line-height: 52px;
}

.nav-link {
    color: black;
}
.nav-link:hover, .nav-link:active{
    color: white;
}