body {
    background-image: url("http://sf.co.ua/16/11/wallpaper-53b1.jpg");
    background-color: silver;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    margin-bottom: 80px;
}

.aboutText {
    color: black;
    font-size: 28px;
    line-height: 52px;
}

.card-img-top {
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    height: 200px;
    width: 250px;
}

.myImg {
    margin: 10px;
    border-radius: 20px;
}

.project-text {
    font-size: 18px;
    font-weight: 450;
}